<a href="https://colab.research.google.com/github/siona-pathak/DS2002-HW/blob/main/Pathak_JSON_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd
import requests
import json
url = 'https://raw.githubusercontent.com/jasonwnc/ds2002s24/main/2.%20Python/coll%20bb_SortByConf.json'
data = requests.get(url)

basketball = json.loads(data.text)

#creating datafrane
basketball_df= pd.DataFrame(basketball['teams'])


#printing first 100 rows
print(basketball_df.head(100))

    tid  cid  did                region       name  abbrev  pop  \
0   159    0    0        Boston College     Eagles      BC  161
1   105    0    0               Clemson     Tigers    CLEM  215
2   109    0    0         Florida State  Seminoles     FSU  211
3    18    0    0            Louisville  Cardinals      UL  302
4    31    0    0  North Carolina State   Wolfpack    NCST  289
..  ...  ...  ...                   ...        ...     ...  ...
95  300    5   11    Jacksonville State  Gamecocks  JVILLE   20
96   72    6   12    Eastern Washington     Eagles   EWASH  248
97  139    6   12      Sacramento State    Hornets   SACST  181
98  239    6   12     Northern Colorado      Bears   NOCOL   81
99  266    6   12                 Idaho    Vandals      UI   54

             city state  latitude  longitude
0   Chestnut Hill    MA    42.330    -71.166
1         Clemson    SC    34.678    -82.839
2     Tallahassee    FL    30.442    -84.298
3      Louisville    KY    38.250    -85.766
4         Raleigh    NC    35.786    -78.682
..            ...   ...       ...        ...
95   Jacksonville    AL    33.815    -85.760
96         Cheney    WA    47.488   -117.578
97     Sacramento    CA    38.555   -121.468
98        Greeley    CO    40.416   -104.716
99         Moscow    ID    46.730   -117.000

[100 rows x 11 columns]

In [64]:
# Question 1 - total teams

print(len(basketball['teams']))

320

In [65]:
# Question 2 - teams in Virginia
print(len(basketball_df[basketball_df['state'] == "VA"]))

13

In [66]:
# Question 3 - mascots and occurrences
temp_df = basketball_df.groupby("name").count()
temp_df[temp_df["tid"] > 1]["tid"]

name
49ers             2
Aggies            4
Bears             4
Bison             2
Bisons            2
Bobcats           3
Broncos           3
Bruins            2
Buccaneers        2
Bulldogs         13
Bulls             2
Cardinals         4
Catamounts        2
Colonials         2
Cougars           4
Cowboys           3
Crusaders         2
Dukes             2
Eagles           10
Falcons           2
Gaels             2
Gamecocks         2
Golden Eagles     4
Hawks             4
Highlanders       2
Hornets           3
Huskies           5
Jaguars           3
Knights           2
Lions             2
Lumberjacks       2
Mavericks         2
Mountaineers      3
Mustangs          2
Owls              4
Panthers          8
Phoenix           2
Pioneers          2
Pirates           3
Raiders           2
Rams              4
Rebels            2
Redhawks          3
Roadrunners       2
Spartans          4
Terriers          3
Tigers            9
Titans            2
Trojans           3
Vikings           3
Wildcats          8
Wolverines        2
Name: tid, dtype: int64